.private/
*/node_modules/
**/__pycache__
*~
*.mo
*.log
phoenix/dist/
phoenix/**.js.map
phoenix/.sass-cache/*
phoenix/nls/*-dev1.tsv
phoenix/tests/
vsx/*.map
.vscode-test/
.vsix
xed/debian/editortoix/*
xed/debian/editortoix.*
xed/debian/.debhelper
xed/debian/files
xed/debian/debhelper-build-stamp