Source: editortoix
Section: misc
Priority: optional
Maintainer: Alexandre Bento Freire <devtoix@a-bentofreire.com>
Build-Depends: debhelper (>=10)
Standards-Version: 4.6.2
Homepage: https://www.devtoix.com/en/projects/editortoix

Package: editortoix
Architecture: any
Depends: python3, dconf-cli, ${misc:Depends}
Description: Linux Mint XEd and Pluma plugin collection
Conflicts: xedtoix